header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  background-color: #e3b5a4;
  font-size: 1.8rem; }
  header nav ul li {
    padding: 1px;
    margin: 1px; }
    header nav ul li a {
      text-decoration: none; }
    header nav ul li a:hover {
      color: #d44d5c; }

.heroImg {
  height: 8rem; }

.estiloMenu {
  color: #734;
  font-family: "Cinzel Decorative", sans-serif; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #f5e9e2; }

h1 {
  color: #734;
  font-family: "Cinzel Decorative", cursive;
  font-weight: bold;
  padding: 15px; }

h2 {
  color: #d44d5c;
  font-family: "Cinzel Decorative", cursive;
  padding: 2px; }

h3 {
  color: #d44d5c;
  font-family: "Cinzel Decorative", sans-serif;
  font-weight: bold; }

p {
  font-family: "Arima Madurai", sans-serif; }

.ambientaciones {
  margin: 3rem; }

.imagenEventos {
  border-radius: 25px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 3px; }

.gridFotosEventos {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 5px; }

.servicios {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem; }

.shows {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem; }

.videos {
  border-radius: 5px;
  margin: 3px; }

.ordenVideosShows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin: 10px; }

.aboutus {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem; }

.ordenAboutUs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: space-around; }

.tarjetitas {
  border-radius: 10px;
  border: none;
  margin: 1rem; }

.equipo {
  font-size: 1.2rem; }

.gridOrdenContacto {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  margin-left: 50px;
  margin-right: 50px;
  gap: 20px; }

.linksRedesSociales {
  display: flex;
  justify-content: center;
  align-items: center; }

.ordenFieldset {
  display: flex-block;
  justify-content: stretch; }

form {
  margin: 10px;
  padding: 10px;
  font-family: "Arima Madurai"; }

fieldset {
  padding: 15px; }

textarea:placeholder-shown {
  background-color: lightyellow; }

input:hover {
  text-decoration: #734;
  font-weight: bolder; }

.boton {
  display: flex;
  justify-content: flex-end; }

div button {
  border-style: none;
  background-color: transparent;
  box-shadow: 5px 5px 15px 5px var(#734);
  margin-bottom: 1rem;
  margin-right: 3rem; }
  div button a {
    text-decoration: none;
    text-shadow: 0.1rem;
    font-family: var("Arima Madurai");
    font-size: 1.5rem;
    color: #0b0014; }
  div button a:hover {
    background-color: var(#d44d5c);
    color: var(#0b0014); }

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0b0014;
  letter-spacing: 5px;
  text-align: center; }
  footer p {
    font-family: "Unica One", cursive;
    color: #e3b5a4; }
