* {
  margin: 0;
  padding: 0; }

body {
  background-color: #f5e9e2; }

h1 {
  color: #734;
  font-family: "Cinzel Decorative", cursive;
  margin: 50px;
  padding: 15px; }

h2 {
  color: #d44d5c;
  font-weight: bold;
  font-family: "Cinzel Decorative", cursive;
  padding: 2px; }

h3 {
  color: #d44d5c;
  background-color: #e3b5a4;
  font-family: "Cinzel Decorative", sans-serif;
  padding: 4px; }

p {
  font-family: "Arima Madurai", sans-serif; }

.heroLogo {
  display: flex;
  justify-content: center;
  margin: 10px; }

.heroImg {
  width: 100%; }

header {
  background-color: #e3b5a4;
  font-size: 2rem; }
  header nav ul li {
    padding: 1px;
    margin: 2px; }
    header nav ul li a {
      text-decoration: none; }
    header nav ul li a:hover {
      background-color: #d44d5c; }

.estiloMenu {
  color: #734;
  font-family: "Arima Madurai", sans-serif; }

.imagenEventos {
  border-radius: 25px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 3px; }

.videos {
  margin: 10px;
  border-radius: 25px; }

.gridFotosEventos {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 5px; }

.ordenVideosShows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px; }

section ul li {
  font-family: "Arima Madurai"; }

.gridOrdenContacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-left: 50px;
  margin-right: 50px;
  gap: 20px; }

.linksRedesSociales {
  display: flex;
  justify-content: center;
  align-items: center; }

.ordenFieldset {
  display: flex-block;
  justify-content: stretch; }

form {
  margin: 10px;
  padding: 10px;
  font-family: "Arima Madurai"; }

fieldset {
  padding: 15px; }

textarea:placeholder-shown {
  background-color: #fffff9; }

input:hover {
  text-decoration: #734;
  font-weight: bolder; }

button {
  border-style: none; }
  button a {
    text-decoration: none;
    color: #0b0014; }

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0b0014;
  letter-spacing: 5px;
  text-align: center; }
  footer p {
    font-family: "Unica One", cursive;
    color: #e3b5a4; }
  footer img {
    height: 1.5rem; }
