//Sección about us
.aboutus {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.ordenAboutUs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
}

.tarjetitas {
    border-radius: 10px;
    border: none;
    margin: 1rem;
}

.equipo {
  font-size: 1.2rem;
}
