//Sección "Contacto"
.linksRedesSociales {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

.img {
  height: 10rem;
  margin: 1rem;
}