//Header
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  background-color: ($cardo-ruso);
  font-size: 1.8rem;
  nav ul li {
    padding: 1px;
    margin: 1px;
    a {
      text-decoration: none;
    }
    a:hover {      
      color: ($rosa-paradiso);
    }
  }
}

.heroImg {
  height: 8rem;
}

.estiloMenu {
  color: ($uva);
  font-family: ($secundaria), sans-serif;
}
