//Paleta de colores
@import "colores";

//Tipografías
@import "types";

//Header
@import "header";

//Reseteo
* {
  margin: 0;
  padding: 0;
}

//Generales
body {
  background-color: ($lino);
}

h1 {
  color: ($uva);
  font-family: ($secundaria), cursive;
  padding: 15px;
}

h2 {
  color: ($rosa-paradiso);
  font-weight: bold;
  font-family: ($secundaria), cursive;
  padding: 2px;
}

h3 {
  color: ($rosa-paradiso);
  font-family: ($secundaria), sans-serif;
}

p {
  font-family: ($principal), sans-serif;
}

// Estilos de imágenes y videos
.imagenEventos {
  border-radius: 25px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 3px;
}

.videos {
  margin: 10px;
  border-radius: 25px;
}

.gridFotosEventos {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.ordenVideosShows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
}

//Estilos de la sección about us
@import "aboutus";

//Estilos de la sección de contacto
@import "contacto";

//Botón volver arriba
button {
  border-style: none;
  background-color: var($lino);
  margin: 1rem;
  a {
    text-decoration:none;
    text-shadow: 0.1rem;
    font-family: var($principal);
    font-size: 1.5rem;
    color: ($shade-of-black);
  }
  a:hover {
    text-decoration: underline;
    color: ($shade-of-black);
  }
}

//Footer
@import "footer";
