//Paleta de colores
@import "colores";

//Tipografías
@import "types";

//Header
@import "header";

//Reseteo
* {
  margin: 0;
  padding: 0;
}

//Generales
body {
  background-color: ($lino);
}

h1 {
  color: ($uva);
  font-family: ($secundaria), cursive;
  font-weight: bold;
  padding: 15px;
}

h2 {
  color: ($rosa-paradiso);
  font-family: ($secundaria), cursive;
  padding: 2px;
}

h3 {
  color: ($rosa-paradiso);
  font-family: ($secundaria), sans-serif;
  font-weight: bold;
}

p {
  font-family: ($principal), sans-serif;
}

//Estilos de la sección ambientaciones
@import "ambientaciones";

//Estilos de la sección servicios
@import "servicios";

//Estilos de la sección shows
@import "shows";

//Estilos de la sección about us
@import "aboutus";

//Estilos de la sección de contacto
@import "contacto";

//Botón volver arriba
.boton {
  display: flex;
  justify-content: flex-end;
}

div button {
  border-style: none;
  background-color: transparent;
  box-shadow: 5px 5px 15px 5px var($uva);
  margin-bottom: 1rem;
  margin-right: 3rem;
  a {
    text-decoration: none;
    text-shadow: 0.1rem;
    font-family: var($principal);
    font-size: 1.5rem;
    color: ($shade-of-black);
  }
  a:hover {
    background-color: var($rosa-paradiso);
    color: var($shade-of-black);
  }
}

//Footer
@import "footer";
